@font-face {
    font-family: 'TRIAL Oceanic';
    src: url(/fonts/trial-oceanic-cufonfonts/TRIAL_Oceanic-Medium-BF6487cfe5e2078.otf);
    font-style: normal;
}

:root {
    background-color: #011845;
    font-size: 62,5%;
}

a {
    text-decoration: none;
    color: #E8EDFF;
    font-family: 'Roboto', sans-serif;
}

button {
    color: #E8EDFF;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

.Head a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;
    text-align: left;
}

h1 {
    font-family: 'TRIAL Oceanic';
    font-weight: 400;
    text-transform: uppercase;
    color: #496192;
    font-size: 25.6rem;
    line-height: 25.6rem;
}

.Main h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 8rem;
    font-weight: 500;
    line-height: 8rem;
    text-align: left;
    text-transform: uppercase;
}

.Color {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Main li p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Restaurant h2 { 
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
    text-transform: uppercase;
}

.Restaurant p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Restaurant a {
    border: 1px;
}

.Menu a {
    border: 1px;
}

.We {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Menu h2{
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

.Menu h3 {
    font-family: 'TRIAL Oceanic';
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.32rem;
    text-align: left;
}

.Menu p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.16rem;
    text-align: left;
}

.Delivery h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

p {
    color: #E8EDFF;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #E8EDFF;
    font-family: 'TRIAL Oceanic';
    text-transform: uppercase;
}

span {
    color: #E8EDFF;
}

h3 {
    color: #E8EDFF;
    font-family: 'TRIAL Oceanic';
    text-transform: uppercase;
}

.Delivery ol {
    list-style-type: none;
}

.Main p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
    color: #FFFFFF;
}

.Main li p{
    gap: 0rem;
    opacity: 0rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.68rem;
    text-align: left;
    color: #E8EDFF;
}

.Main li {
    list-style-type: none;
}

span {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.68rem;
    text-align: left;
}

.Price {
    text-transform: lowercase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.52rem;
    text-align: left;
}

.Weight {
    text-transform: lowercase;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.44rem;
    text-align: left;
}


.Delivery li h3 {
    font-family: 'TRIAL Oceanic';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    text-align: left;
}

.Delivery ol span {
    font-family: 'TRIAL Oceanic';
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 3.78rem;
    text-align: left;
}

.First {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.Second {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.Third {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.One {
    font-family: 'TRIAL Oceanic';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    text-align: left;
}

.Two {
    font-family: 'TRIAL Oceanic';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    text-align: left;
}

.Three {
    font-family: 'TRIAL Oceanic';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    text-align: left;
}

.Reviews li {
    list-style-type: none;
}

.Reviews h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

.Reviews p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.16rem;
    text-align: left;
}

.Stocks h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

.Stocks h3 {
    font-family: 'TRIAL Oceanic';
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.32rem;
    text-align: left;
}

.Stocks p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.16rem;
    text-align: left;
}

.Booking h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

.Booking div {
    color: #E8EDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Contacts h2 {
    font-family: 'TRIAL Oceanic';
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.88rem;
    text-align: left;
}

.Contacts li {
    list-style-type: none;
}

.Contacts h3 {
    font-family: 'TRIAL Oceanic';
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 3.78rem;
    text-align: left;
}

.Foot span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Foot li {
    list-style-type: none;
}

.Foot h3 {
    font-family: 'TRIAL Oceanic';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    text-align: left;
}

.Foot p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}

.Booking form {
    border: 1px;
}

label {
    color: #E8EDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
    text-align: left;
}